@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using AssignmentClassLibrary.Models
@model X.PagedList.IPagedList<Transaction>
@{
    ViewData["Title"] = "Transactions";
    var myAccount = (Account) ViewBag.Account;
}

<div>
    <h1 class="display-4">@myAccount.AccountNumber, your transactions</h1>

    <h3>Your Transactions</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x[0].TransactionId)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(x => x[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x[0].DestinationAccount)</th>
            <th>@Html.DisplayNameFor(x => x[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => x[0].Comment)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionTimeUtc)</th>

            <th></th>
        </tr>

        @foreach (var transaction in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => transaction.TransactionId)</td>
                <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
                <td>@Html.DisplayFor(x => transaction.AccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.DestinationAccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.Amount)</td>
                <td>@Html.DisplayFor(x => transaction.Comment)</td>
                <td>@transaction.TransactionTimeUtc.ToLocalTime()</td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("MyTransactions", new {page}),
        new PagedListRenderOptions
        {
            LiElementClasses = new[] {"page-item"},
            PageClasses = new[] {"page-link"}
        })


</div>