@using Assignment2.Utility
@model Assignment2.Models.ViewModels.TransferViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center ">
                Current Account
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Account Number
                            </th>
                            <th>
                                Account Type
                            </th>
                            <th>
                                Current Balance
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                @Model.CurrentAccount.AccountNumber
                            </td>
                            <td>
                                @{
                                    string? accountType = null;
                                    var savings = 'S';
                                    var checking = 'C';
                                    if (Model.CurrentAccount.AccountType.Equals(savings))
                                    {
                                        accountType = "Savings";
                                    }
                                    else if (Model.CurrentAccount.AccountType.Equals(checking))
                                    {
                                        accountType = "Checking";
                                    }
                                }
                                <a>@accountType</a>
                            </td>
                            <td>
                                @Model.CurrentAccount.Transactions.CalculateAccountBalance().ToString("C")
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <form asp-action="Transfer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="DestinationAccountNum" class="control-label">Enter Target Account Number :</label>
                                    <input asp-for="DestinationAccountNum" class="form-control" value="@ViewBag.DestinationAccountNum"
                                           data-val="true" data-val-number="The field Account must be a number."
                                           data-val-required="The Account field is required."
                                           placeholder="Enter Target Account Number"/>
                                    <span asp-validation-for="DestinationAccountNum" class="text-danger"></span>
                                    <span asp-validation-for="AccountNum" class="text-danger"></span>
                                    <label asp-for="Comment" class="control-label"> Enter A Comment</label>
                                    <input asp-for="Comment" class="form-control" value="@ViewBag.Comment" placeholder="Add A Comment"/>

                                    <label asp-for="Amount" class="control-label">Enter A Amount To Be Transfered : </label>
                                    <input asp-for="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                                           data-val="true" data-val-number="The field Amount must be a number."
                                           data-val-required="The Amount field is required."
                                           placeholder="Enter Amount To be Transferred"/>
                                    @Html.ValidationMessage("Amount", new {@class = "text-danger"})
                                    <input type="hidden" asp-for="AccountNum" value="@Model.CurrentAccount.AccountNumber"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 button-deposit-right">
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <input type="submit" value="Transfer" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 button-deposit-left">
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-block btn-danger">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
