@model Assignment2.Models.ViewModels.BillPayViewModel

@{
    ViewBag.Title = "Payees";
    Layout = "_Layout";
}

<div class="center_div row align-items-center h-100">
    <div class="heading-accounts">
        <h3>Payees</h3>
    </div>

    <table class="table table-hover table-centre">
        <tr>
            <th class="text-center">Payee ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Address</th>
            <th class="text-center">Suburb</th>
            <th class="text-center">State</th>
            <th class="text-center">Post Code</th>
            <th class="text-center">Phone</th>
        </tr>
        @foreach (var payee in Model.Payees)
        {
            <tr>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.PayeeId
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Name
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Address
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Suburb
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.State
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Postcode
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Phone
                </td>
            </tr>
        }
    </table>


    <h3>Scheduled Bill Pay</h3>
    <table class="table table-hover table-centre">
        <tr>
            <th class="text-center">Bill Pay ID</th>
            <th class="text-center">Account Number</th>
            <th class="text-center">Payee Id</th>
            <th class="text-center">amount</th>
            <th class="text-center">Scheduled Time Of Payment</th>
            <th class="text-center">Period</th>
        </tr>
        @foreach (var payee in Model.BillPays)
        {
            <tr>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.BillPayId
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.AccountNumber
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.PayeeId
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Amount.ToString("C")
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.ScheduleTimeUtc.ToLocalTime()
                </td>
                <td class="text-center" style="padding:0 15px 0 15px;">
                    @payee.Period
                </td>
                <td>
                    <div class="form-group">
                        <form asp-action="EditBillPay">
                        
                            </form>
                        

                        <input type="hidden" value="@payee.BillPayId"/>
                        <a asp-action="EditBillPay" type="submit" class="ml-5 btn btn-primary" asp-route-billPayId="@payee.BillPayId">Edit Bill Pay</a>
                    </div>
                </td>
            </tr>
        }
    </table>


    <td class="text-center" style="padding:0 15px 0 15px;">
        <form asp-action="CreateBillPay">
            <div class="col-md-6 button-deposit-right">
                <div class="form-group">
                    @Html.HiddenFor(x => x.SelectedAccountNumber)
                    <input type="submit" value="Create Bill Pay" class="ml-5 btn btn-primary"/>
                </div>
            </div>
            <div class="col-md-6 button-deposit-left">
                <div class=" col-md-6">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-block btn-danger">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </td>


</div>